img {
  border-radius: 20px;
  height: 50%;
  width: 60%;
  display:block;
  margin: auto;
  padding-top: 2px;
}

h1 {
  text-align: center;
  padding-top: 50px;
  color:mintcream;

}

h2 {
  text-align: center;
}

h4 {
  text-align:center;
}

body {
  background-color: gainsboro;

}
.container ul {
  text-align:center;
}

.my-class {
  border: 2px solid mintcream;
  padding: 0px 0px 60px 0px;
  margin: 15px;
  background-image: url(http://www.quickcircuits.com/images/banner.png);
}

.my-class h1 {
  font-size: 60px;
  font-family: sans-serif;

}

.container {
  padding-bottom: 25px;
  border-bottom: 2px solid red;
  border-width: thin;
}

span {
  font-size: 24px;
  color: red;
}

.buttonleft{
  padding: 25px;
  float: left;
}

.buttonright{
  padding: 25px;
  float:right;
}
