img {
  border-radius: 20px;
  height: 50%;
  width: 60%;
  display:block;
  margin: auto;
  border: 2px solid red;
}

h1 {
  text-align: center;
  padding-top: 50px;
  }

h2 {
  text-align: center;
}

h4 {
  text-align:center;
}

body {
  background-color: gainsboro;

}
.container ul {
  text-align:center;
}

.my-class {
  border: 2px solid red;
  padding: 0px 0px 60px 0px;
  margin: 15px;
  background-image:url(https://images8.alphacoders.com/403/403441.gif);
}

.my-class h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: lightgray;
  text-shadow: 3px 3px slategray;
}

.container {
  padding-bottom: 25px;
  border-bottom: 2px solid red;
  border-width: thin;
}

span {
  font-size: 24px;
  color: red;
}

ol {
  list-style-position: inside;
  text-align: center;
}

.buttonleft{
  padding: 25px;
  float: left;
}

.buttonright{
  padding: 25px;
  float:right;
}
